body {
    background-color: beige;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    color: rgb(162, 125, 78);
}

button {
    font-size: 20px;
    background-color: rgb(176, 175, 175);
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}